<div class="container-fluid min-height-100" *ngIf="details.buttons">
  <div class="row min-height-100">
    <div class="col-xs-5 min-height-100">
      <h1>{{details.headerTitle}}</h1>
      <h2>{{details.title}}</h2>
      <p>{{details.description}}</p>
      <a class="btn btn-primary" href="{{details.buttons && details.buttons[0].actionData}}"
         target="_blank">
        {{details.buttons && details.buttons[0].text}}
      </a>
    </div>
    <div class="col-xs-7 bg-image" [ngStyle]="{'background-image': 'url(' + details.imageUrl + ')'}"></div>
  </div>
</div>
